[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/cpp-httplib"]
	path = third_party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "third_party/sqlite"]
	path = third_party/sqlite
	url = https://github.com/azadkuh/sqlite-amalgamation.git
